#container {
    background : burlywood;
  }
  
  input {
    display:block;
    margin: 2px;
    font-size: 20px;
  }
  
  .car {
    padding: 80px;
    margin-left: 400px;
    padding-bottom: 0px;
  }
  
  .search {
    margin-left: 400px;
    padding: 80px;
  }